{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile | Twitter Clone{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Edit Profile</h5>
                <p class="card-text">Update your profile information.</p>
                <a href="{% url 'profile' user.username %}" class="btn btn-outline-primary">
                    <i class="fas fa-arrow-left"></i> Back to Profile
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Profile</h5>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tips</h5>
                <ul>
                    <li>Add a bio to tell people about yourself</li>
                    <li>Upload a profile picture to personalize your profile</li>
                    <li>Make sure your email is up-to-date</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 