{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile | Twitter Clone{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Profile Settings</h5>
                <p class="card-text">Update your profile information.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Profile</h5>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tips</h5>
                <ul>
                    <li>Add a bio to tell people about yourself</li>
                    <li>Make sure your email is up-to-date</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
