{% extends 'base.html' %}

{% block title %}Explore | Twitter Clone{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Explore</h5>
                <p class="card-text">Discover tweets from all users.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>All Tweets</h4>
        
        {% if tweets %}
            {% for tweet in tweets %}
                {% include 'core/tweet_card.html' with tweet=tweet %}
            {% endfor %}
        {% else %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-center">No tweets available.</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %} 